<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Books</title>
</head>
<body>
<h2 th:text="${genre.name}">Genre Name</h2>
<div th:each="book : ${books}">
    <a th:href="@{/booksshop/{id}(id=${book.id})}">
        <img th:src="@{/images/{filename}(filename=${book.image})}" width="200" alt="Book image"/>
        <p th:text="${book.title}"></p>
    </a>
    <br/>
    <hr/>
</div>
<br/>
<button onclick="history.back()">Return back</button>
<br/>
<br/>
<a th:href="@{/booksshop}">Back to Main Page</a>
</body>
</html>