<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>complete order</title>
</head>
<body>
<h1>Thank you! Your order has been completed.</h1>

<h2>Order ID: <span th:text="${order.id}"></span></h2>

<h3>Books in your order:</h3>
    <div th:each="book : ${order.books}">
        <p th:text="${book.title}"></p>
    </div>

<h3>Customer Information:</h3>
<p>First Name: <span th:text="${order.customer.firstName}"></span></p>
<p>Last Name: <span th:text="${order.customer.lastName}"></span></p>
<p>Email: <span th:text="${order.customer.email}"></span></p>
<p>Phone: <span th:text="${order.customer.phoneNumber}"></span></p>

<h3>Delivery Information:</h3>
<p>City: <span th:text="${order.delivery.city}"></span></p>
<p>Region: <span th:text="${order.delivery.region}"></span></p>
<p>Method: <span th:text="${order.delivery.delivery}"></span></p>
<p>Address: <span th:text="${order.delivery.address}"></span></p>

<h3>Payment Information:</h3>
<span th:text="${order.pay.cardNumber}"></span>

<p>Thank you, <span th:text="${order.customer.firstName}"></span>!</p>
<p>We will contact you soon with the delivery details.</p>
</body>
</html>